* {
    box-sizing: border-box;
}

html {
    /* bruger 62.5% for at ramme 10px der er er lettere at regne med */
    font-size: 62.5%;
}

body {
    background-color: #3e7693;
    margin: 0;
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "splash"
        "intro"
        "gallery1"
        "testimonial1"
        "gallery2"
        "testimonial2"
        "gallery3"
        "testimonial3"
        "gallery4"
        "testimonial4"
        "about"
        "interview"
        "events"
        "directions"
        "footer";
}

h1 {
    /* bruger rem som er en værdi relativ til root element, i dette tilfælde de 62.5%/10px fra html reglen */
    font-size: 3.8rem;
    font-family: 'Bell MT', serif;
    margin: 0;
}

h2 {
    font-size: 2.8rem;
    font-family: 'Bell MT', serif;
    margin: 0;
}

h3 {
    font-size: 2.5rem;
    font-family: 'Bell MT', serif;
    margin: 0;
}

h4 {
    font-size: 2.1rem;
    font-family: 'Bell MT', serif;
    margin: 0;
}

p,
a {
    font-size: 2.1rem;
    font-family: 'Bell MT', serif;
    margin: 0;
}

header {
    top: 0;
    background-color: #fff;
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 80px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
        "logo burger";

}

header .logo {
    grid-area: logo;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "figure headline"
        "figure subheadline";
    height: 100%;
}

header .logo img {
    grid-area: figure;
    width: 100%;
}

header .logo h1 {
    grid-area: headline;
    margin: 0 0 0 10px;
    align-self: end;
    font-size: 2.8rem;
}

header .logo p {
    grid-area: subheadline;
    margin: 0 0 0 10px;
    align-self: center;
    font-size: 1.3rem;
}


nav {
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    width: 100vw;
    background-color: #000;
    padding: 40px;
}

nav.active {
    display: block;
}

nav a {
    font-size: 1.9rem;
    color: #fff;
    display: block;
    text-decoration: none;
    padding-left: 60px;
}

nav .line:last-of-type {
    display: none;
}

nav .line:before {
    left: 25px;
    width: 10px;
    height: 30px;
}

.line:before {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    border-left: 1px solid;
    border-right: 1px solid;
    left: 15px;
    width: 5px;
    height: 15px;
}

.line {
    height: 0;
    border-bottom: 1px solid;
    margin: 25px 0;
    position: relative;
}

.line.full {
    width: 100%;
}

.line.long {
    width: 100%;
}

.line.short {
    width: 50%;
}

.line.white,
.line.white:before {
    border-color: #fff;
}

.line.black,
.line.black:before {
    border-color: #000;
}

/* burger menu */

.menu_toggle {
    grid-area: burger;
    align-self: center;
    /*  float: right;*/
    cursor: pointer;
    height: 16px;
    margin: 16px;
    width: 16px;
}

.menu_toggle span {
    display: block;
    width: 16px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #000000;
    transition: all 0.5s ease;
}

/* Ændre aksen hvor der roteres fra*/
.menu_toggle span:first-child {
    transform-origin: 0% 0%;
}

.menu_toggle span:last-child {
    transform-origin: 0% 100%;
    margin-bottom: 0;
}

/* Ændrer de tre span classes til et kryds når menuen er aktiv */

header nav.active ~ .menu_toggle span {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
    width: 23px;
}

/* Gemmer den midterste */
header nav.active ~ .menu_toggle span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/* Den sidste streg går i den anden retning */
header nav.active ~ .menu_toggle span:nth-child(1) {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
}

section {
    padding: 40px 20px;
}

#splash {
    grid-area: splash;
    height: calc(100vh - 80px);
    width: 100%;
    overflow: hidden;
    position: relative;
}

#splash:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
}

#splash video {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#splash .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    color: #fff;
    text-align: center;
    height: 50vh;
}

#splash .content h1,
#splash .content p {
    margin: 1em 0;
}

#intro {
    background-color: #f3f3f3;
    color: #1d1c2c;
}

#intro .categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 25px;
}

#intro .categories .category {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    border: 1px solid #1d1c2c;
    box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.5);
}

#intro .categories .headline {
    align-self: center;
    padding: 5px 10px;
}

#intro .categories .headline p {
    font-size: 1.8rem;
}

#intro .category .img {
    overflow: hidden;
}

#intro .category img {
    width: 100%;
}

#intro .categories .category:nth-of-type(1),
#intro .categories .category:nth-of-type(4) {
    background-color: #1d1c2c;
    color: #fff;
}

.gallery {
    padding: 0;
}

.gallery .description {
    padding: 40px 20px 100px;
    position: relative;
}

.gallery1,
.gallery3 {
    background-color: #1d1c2c;
    color: #fff;
}

.gallery2,
.gallery4 {
    background-color: #fff;
    color: #000;
}

.gallery1 .line:before,
.gallery3 .line:before {
    border-color: #fff;
}

.gallery2 .line:before,
.gallery4 .line:before {
    border-color: #000;
}

.take-contact {
    font-size: 1.6rem;
    margin-top: 40px;
}

.gallery .tabs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 20px;
    font-size: 0;
    border-bottom: 5px solid #9d4e15;
    color: #fff;
}

.gallery .tab {
    display: inline-block;
    padding: 10px;
    background-color: #000;
}

.gallery .tab.active {
    background-color: #9d4e15;
}

.gallery .images {
    position: relative;
}

.slider {
    position: relative;
    height: 320px;
    width: 100%;
    overflow: hidden;
    display: none;
}

.slider.active {
    display: block;
}

.slider img {
    width: 100%;
    height: auto;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
}

.slide.prev {
    left: -100%;
}

.slide.next {
    left: 100%;
}

.slide.active {
    left: 0;
}

.slider_dots {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
    justify-content: center;
    z-index: 5;
}

.slider_dots .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #fff;
    align-self: center;
    margin-right: 10px;
}

.slider_dots .dot:last-of-type {
    margin-right: 0;
}

.slider.active[data-active="1"] .slider_dots .dot[data-slide="1"],
.slider.active[data-active="2"] .slider_dots .dot[data-slide="2"],
.slider.active[data-active="3"] .slider_dots .dot[data-slide="3"],
.slider.active[data-active="4"] .slider_dots .dot[data-slide="4"],
.slider.active[data-active="5"] .slider_dots .dot[data-slide="5"],
.slider.active[data-active="6"] .slider_dots .dot[data-slide="6"],
.slider.active[data-active="7"] .slider_dots .dot[data-slide="7"],
.slider.active[data-active="8"] .slider_dots .dot[data-slide="8"] {
    background-color: #9d4e15;
}

.slider.active[data-slides="1"] .slider_dots .dot:nth-of-type(n+2),
.slider.active[data-slides="2"] .slider_dots .dot:nth-of-type(n+3),
.slider.active[data-slides="3"] .slider_dots .dot:nth-of-type(n+4),
.slider.active[data-slides="4"] .slider_dots .dot:nth-of-type(n+5),
.slider.active[data-slides="5"] .slider_dots .dot:nth-of-type(n+6),
.slider.active[data-slides="6"] .slider_dots .dot:nth-of-type(n+7),
.slider.active[data-slides="7"] .slider_dots .dot:nth-of-type(n+8) {
    display: none;
}

.testimonial {
    background-color: #f3f3f3;
    text-align: center;
    padding: 20px;
}

.testimonial p {
    font-size: 1.3em;
}

.testimonial .author {
    text-align: right;
    margin-top: 10px;
    font-size: 1.5em;
}

.gallery_text h2 {
    margin-bottom: 0.2em;
}

.gallery_text h2:last-of-type {
    margin-top: 1em;
}

.about img {
    margin: 20px -20px;
    width: calc(100% + 40px);
}

@media (min-width: 992px) {

    nav {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        height: auto;
        width: auto;
        background-color: transparent;
        padding: 0 40px 0 0;
        align-self: center;
    }

    nav a {
        color: #000;
        display: inline;
        padding-left: 60px;
        text-decoration: none;
    }

    nav .line {
        display: none;
    }

    .menu_toggle {
        display: none;
    }

    #intro .categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
